[submodule "gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags
[submodule "grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc
[submodule "pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "third_party/cpu_features"]
	path = third_party/cpu_features
	url = https://github.com/google/cpu_features
